<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLE || Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_newOrder.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/addToCart.js') }}" defer></script>
</head>
<body>
    <section>
        <nav class="navbar navbar-dropdown">
            <div class="container-fluid">
                <div class="home-button">
                    <span><a href="#">OLE</a></span>
                </div>
                <div class="nav-links">
                    <ul class="nav-bar" style="font-size: 20px">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li style="margin-left: auto">
                            <a class="nav-item-logo" href="#" onclick="openCart()">Cart (<span id="cart-count">0</span>) $<span id="cart-total">0.00</span></a
                            >
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <br>
    <section>
        <div  class="menu-table">
            <h2 style="font-size: 30px">The full menu</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name of the dish</th>
                        <th>Description of the dish</th>
                        <th>Price of the dish</th>
                        <th>Image of the dish</th>
                        
                    </tr>
                </thead>
                <tbody id="menuTableBody">
                    <!-- המנות יוצגו כאן -->
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
