/* General body styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  background-color: #8fbdc838;
  color: #333;
}

/* Navigation bar styles */
.navbar {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgb(26, 15, 15);
  font-size: 24px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.home-button a {
  text-decoration: solid;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
}

.navbar a {
  text-decoration: none;
  color: #555;
  padding: 12px 20px;
  display: inline-block;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

/* Header and navigation links */
.header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px #060505;
}

.header h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px bold;
  margin: 0;
  color: #333;
}

/* Hyperlink styles */
a {
  color: #5c67f2;
  transition: color 0.3s;
}

a:hover {
  color: #3949ab;
}

/* Specific sections for login and admin messages */
.bodyloginForm {
  margin-top: 30px;
  text-align: center;
}

.cont {
  background: #ffffff;
  padding: 100px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgb(26, 15, 15);
}

/* Enhancing navbar and button appearances */
.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-item {
  font: 20px sans-serif;
  padding: 10px 15px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nav-item-logo {
  font: 20px sans-serif;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  transition: background-color 0.3s;
}

/* Ensuring the navigation bar is set to display as a flex container */
.nav-bar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

/* Assuming 'Cart' is the last item, you can target it specifically if it has a unique class or by its position */
.nav-item-logo {
  /* if 'Cart' has a specific class like this */
  margin-left: auto; /* This will push the Cart item to the right */
}

/* Or if 'Cart' is always the last item, use this */
.nav-bar {
  margin-left: auto;
}

.login-button {
  font: bold;
  color: rgba(0, 0, 0, 0.7);
  padding: 30px 100px;
  background-color: #78bac386;
}

.register-button {
  color: #ffffff;
  padding: 28px 90px;
  background-color: #1d5d59;
}

.login-button:hover,
.register-button:hover {
  opacity: 0.8;
}

.logout-home-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #ffdcdc;
  background-attachment: fixed;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  text-decoration: none;
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
}

.logout-home-page:hover {
  background-color: #a06767; /* שינוי צבע הרקע כאשר העכבר מעל הכפתור */
  color: rgb(255, 255, 255);
}

.title {
  font: 24px sans-serif;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px 100px;
  font-size: x-large;
  background-color: #578d89b3;
  transition: background-color 0.3s;
}

.input-login {
  font-size: 20px;
  border-radius: 16px;
  padding: 10px 40px;
}
.login-button {
  font-size: 36px;
  border-radius: 16px;
  padding: auto;
  background-color: cadetblue;
  color: white;
}
.register-button {
  font-size: 36px;
  border-radius: 16px;
  padding: auto;
  background-color: rgb(79, 136, 123);
  color: white;
}
.cid-sN2dg8se2K {
  padding-top: 6rem;
  padding-bottom: 9rem;
  image-rendering: auto;
  opacity: 0.6;
  background-image: url("../../../static/images/1.jpeg");
  image-resolution: 20px;
}

.ole-pat {
  color: #193035;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  text-align: center;
  text-shadow: 0 1px 3px #1b2121;
}

.home-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #d6f1ff;
  background-attachment: fixed;
  text-decoration: none;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
}
.home-page:hover {
  background-color: #658da1;
  color: rgb(255, 255, 255);
}

.login-home-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #a5d6d3;
  background-attachment: fixed;
  text-decoration: none;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
}
.register-home-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #a04343;
  background-attachment: fixed;
  text-decoration: none;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #ffffff;
  border-radius: 16px;
}

/* LOGIN PAGE */

.login-input-username {
  font-size: 30px;
  color: #000000;
}

.login-input-password {
  font-size: 30px;
  color: #000000;
}

.login-lable-username {
  font-size: 20px;
  border-radius: 16px;
  color: #000000;
  padding: 20px 70px;
}

.login-lable-password {
  font-size: 20px;
  border-radius: 16px;
  color: #000000;
  padding: 20px 70px;
}

.login-enter-button {
  background-color: rgb(125, 175, 160);
  font: bold;
  font-size: 30px;
  font-weight: 700;
  border-radius: 16px;
  color: #000000;
  padding: 20px 150px;
}

.register-add-new {
  font-size: 20px;
}

.register-button {
  border: 2px solid black;
  padding: 20px 45px;
  border-radius: 16px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(186, 169, 169);
  border-radius: 16px;
  font-weight: bold;
}

.register-enter-button {
  background-color: rgb(186, 169, 169);
  font: bold;
  font-size: 30px;
  font-weight: 700;
  border-radius: 16px;
  color: #000000;
  padding: 20px 132px;
}

.register-login-button {
  border: 2px solid black;
  padding: 20px 57px;
  border-radius: 16px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(118, 169, 157);
  border-radius: 16px;
  font-weight: bold;
}

.button-grid-admin {
  display: flex; /* כדי שהכפתורים יתנהגו כמו בלוק */
  justify-content: center; /* מרכז אופקי */
  align-items: center;
  padding: 20px 40px; /* ריווח פנימי בתוך הכפתור */
  background-color: #172d4a; /* צבע רקע של הכפתור */
  color: white; /* צבע טקסט של הכפתור */
  text-align: center; /* יישור הטקסט למרכז */
  text-decoration: none; /* ביטול קו תחתון */
  border-radius: 16px; /* פינות מעוגלות */
}
.button-grid-admin:hover {
  background-color: #dce7ff; /* שינוי צבע הרקע כאשר העכבר מעל הכפתור */
  color: rgb(0, 0, 0);
}

.container-admin {
  font-size: 40px;
  display: grid;
  width: device-width;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px; /* מרווח בין הכפתורים */
  min-width: 300px; /* רוחב מקסימלי של המסגרת */
  min-height: 200px;
  margin: 50px; /* מרכז המסגרת אופקית */
}

.manager-bg {
  background-color: rgb(255, 240, 250);
}

.container-customer {
  font-size: 40px;
  display: grid;
  width: device-width;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px; /* מרווח בין הכפתורים */
  min-width: 300px; /* רוחב מקסימלי של המסגרת */
  min-height: 200px;
  margin: 50px; /* מרכז המסגרת אופקית */
}

.button-grid-customer {
  display: flex; /* כדי שהכפתורים יתנהגו כמו בלוק */
  justify-content: center; /* מרכז אופקי */
  align-items: center;
  padding: 20px 40px; /* ריווח פנימי בתוך הכפתור */
  background-color: #6dab80; /* צבע רקע של הכפתור */
  color: white; /* צבע טקסט של הכפתור */
  text-align: center; /* יישור הטקסט למרכז */
  text-decoration: none; /* ביטול קו תחתון */
  border-radius: 16px; /* פינות מעוגלות */
}

.button-grid-customer:hover {
  background-color: #d4e6d9; /* שינוי צבע הרקע כאשר העכבר מעל הכפתור */
  color: rgb(0, 0, 0);
}

.container-manager {
  font-size: 40px;
  display: grid;
  width: device-width;
  grid-template-columns: repeat(4, 1fr); /* שלושה עמודות ברוחב שווה */
  gap: 40px; /* מרווח בין הכפתורים */
  max-width: 600px; /* רוחב מקסימלי של המסגרת */
  max-height: 600px;
  margin: 50px; /* מרכז המסגרת אופקית */
}

.button-grid-manager {
  display: block; /* כדי שהכפתורים יתנהגו כמו בלוק */
  padding: 20px 40px; /* ריווח פנימי בתוך הכפתור */
  background-color: #ee9cc5; /* צבע רקע של הכפתור */
  color: rgb(255, 255, 255); /* צבע טקסט של הכפתור */
  text-align: center; /* יישור הטקסט למרכז */
  text-decoration: none; /* ביטול קו תחתון */
  border-radius: 16px; /* פינות מעוגלות */
}
.button-grid-manager:hover {
  background-color: #84e6ff4f; /* שינוי צבע הרקע כאשר העכבר מעל הכפתור */
  color: rgb(0, 0, 0);
}

.user-title {
  font-size: 70px;
}

.home-page-manager {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #ffe7fb;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
  text-decoration: none;
}
.home-page-manager:hover {
  background-color: #98608e;
  color: rgb(255, 255, 255);
}

/*   THE BEST SELLER SECTION - INDEX   */
.home-menu {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #e6d2b4;
  background-attachment: fixed;
  text-decoration: none;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
}
.home-menu:hover {
  background-color: #a58960; /* שינוי צבע הרקע כאשר העכבר מעל הכפתור */
  color: rgb(255, 255, 255);
}

/*   Customers Best Seler SECTION - INDEX   */

.new-order-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #e8ffe7;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
  text-decoration: none;
}
.new-order-page:hover {
  background-color: #4d7b4c;
  color: rgb(255, 255, 255);
}

.new-review-page {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
  border: 2px solid black; /* סוג המסגרת ועוביה */
  margin-right: 30px;
  background-color: #e7ecff;
  padding: 20px 40px; /* ריווח פנימי בתוך המסגרת */
  display: inline-block; /* שמירה על מיקום אינליין */
  color: #000000;
  border-radius: 16px;
  text-decoration: none;
}
.new-review-page:hover {
  background-color: #5b6794;
  color: rgb(255, 255, 255);
}
