
.order-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.order-product {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
}


.order-product-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.order-product:hover .order-product-inner {
    transform: rotateY(180deg);
}

.order-product-front, .order-product-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.order-product-front {
    background-color: #fff;
}

.order-product-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.order-product-back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.order-product-back p {
    margin: 10px;
}

/* --------------------------- */
/* PRODUCTS VIEW IN INDEX FILE */
/* --------------------------- */

.order-product-index {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 20px;
}

.order-product-inner-index {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.order-product-index:hover .order-product-inner-index {
    transform: rotateY(180deg);
}

.order-product-front-index, .order-product-back-index {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.order-product-front-index {
    background-color: #fff;
}

.order-product-front-index img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.order-product-back-index {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* --------------------------- */


.order-product-back p {
    margin: 10px;
}


.order-add-to-cart {
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffe2f5;
    border: 2px solid black;
    font-weight: 700;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(186, 186, 186, 0.4);
}

.modal-content {
    border-radius: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b7d7ea;
    width: 80%;
}

.modal-header, .modal-footer {
    padding: 10px;
    text-align: center;
}

.modal-header {
    border-radius: 20px;
    font-size: 36px;
    background-color: #ffe0f1;
    text-shadow:0 1px 3px #1b2121;
    font-weight:800;
    color: white;
}

.modal-footer {
    background-color: #ffffff55;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.checkout-button {
    margin-top: 10px;
    padding: 20px 150px;
    font-weight:800;
    font-size: 30px;
    background-color: #aadfe0;
    text-shadow:0 1px 3px #1b2121;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}




.menu-image{
    width: 200px;
    height: 200px;
    perspective: 1000px;
}
  .menu-table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table th, .menu-table td {
    font-size: 24px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.menu-table img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 200px;
    perspective: 1000px;
    }
    

