<!DOCTYPE html>
<html content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<head>
    <title>OLE || Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav><h2 style="font-size: 40px; color:#000000;">Login</h2></nav><br>
    <section>
    <form method="POST" action="{{ url_for('login') }}">
        <label class="login-input-username" for="username"><b>Enter Username:<b></label><br><br>
        <input class="login-lable-username" type="text" id="username" name="username" required>
        <br><br><br>
        <label class="login-input-password" for="password">Enter Password:</label><br><br>
        <input class="login-lable-password" type="password" id="password" name="password" required>
        <br><br><br>
        <button  class="login-enter-button" type="submit">Login</button>
    </form>
</section>
<div>
    <p class="register-add-new">Don't have an account?<br><br><br> 
    <a class="register-button" href="{{ url_for('register') }}">Click here to Register</a></p>
</div>
</body>
</html>
